@model Guest_Houses_Reservations.Models.House

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>House</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SmokingAllowed" /> @Html.DisplayNameFor(model => model.SmokingAllowed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetsAllowed" /> @Html.DisplayNameFor(model => model.PetsAllowed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NightlyPrice" class="control-label"></label>
                <input asp-for="NightlyPrice" class="form-control" />
                <span asp-validation-for="NightlyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInHours" class="control-label"></label>
                <input asp-for="DurationInHours" class="form-control" />
                <span asp-validation-for="DurationInHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
